<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CURRENCY_RATE</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h2>Курс сегодня {{ today_day }}:</h2>
    {% block CurrRate %}{% endblock CurrRate %}
    <form method="post">
        <div class="SelCurr">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.listCurr.label.text }} {{ form.listCurr }}  {{ form.btSelect() }}
        </div>
    </form>
</body>
</html>